<link rel="stylesheet" href="/css/newArticles.css" />
<div class="newArticles" dir="rtl">
  <div class="sectionTitle">
    <h1>آخر الإضافات</h1>
  </div>
  <div class="articlesContainer">
    <a href="/" class="article">
      <div class="title">
        <h1>عنوان المقال</h1>
      </div>
      <div class="date">
        <span>01/01/2024</span>
      </div>
      <div class="content">
        <p>
          محتوى المقال محتوى المقال محتوى المقال محتوى المقال محتوى المقال محتوى
          المقال
        </p>
      </div>
      <div>
        <h3>المواضيع</h3>
        <div class="tags">
          <span>1موضوع</span>
          <span>2موضوع</span>
          <span>3موضوع</span>
        </div>
      </div>
    </a>
    <a href="/" class="article">
      <div class="title">
        <h1>عنوان المقال</h1>
      </div>
      <div class="date">
        <span>01/01/2024</span>
      </div>
      <div class="content">
        <p>
          محتوى المقال محتوى المقال محتوى المقال محتوى المقال محتوى المقال محتوى
          المقال
        </p>
      </div>
      <div>
        <h3>المواضيع</h3>
        <div class="tags">
          <span>1موضوع</span>
          <span>2موضوع</span>
          <span>3موضوع</span>
        </div>
      </div>
    </a>
    <a href="/" class="article">
      <div class="title">
        <h1>عنوان المقال</h1>
      </div>
      <div class="date">
        <span>01/01/2024</span>
      </div>
      <div class="content">
        <p>
          محتوى المقال محتوى المقال محتوى المقال محتوى المقال محتوى المقال محتوى
          المقال
        </p>
      </div>
      <div>
        <h3>المواضيع</h3>
        <div class="tags">
          <span>1موضوع</span>
          <span>2موضوع</span>
          <span>3موضوع</span>
        </div>
      </div>
    </a>
  </div>
</div>
