<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/fontawesome/js/fontawesome.js"></script>
    <script defer src="/fontawesome/js/brands.js"></script>
    <script defer src="/fontawesome/js/solid.js"></script>
    <title>حدَّثَنَا</title>
  </head>
  <body>
    <!-- <div style="width: 100%; background-color: black; height: 10px"></div> -->
    <%- include('includes/header.ejs') %>
    <main><%- body %></main>
    <%- include('includes/footer.ejs') %>
  </body>
</html>
