.footerContainer {
  width: 100%;
  max-width: 100%;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--whiteBg);
}
