.outerNav {
  width: 100%;
  position: fixed;
  z-index: 99999;
  background-color: #eeee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerNav {
  /* position: fixed; */
  width: 100%;
  /* max-width: 1333px; */
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #eee;

  top: 0;
  right: 0;
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
}
.search {
  flex: 1;
}
.search > input {
  display: none;
}
.bigScreen-nav {
  padding: 10px;
  flex: 1;
  display: none;
}
.smallScreen-nav {
  flex: 1;
}
.logo {
  flex: 1;
  text-align: center;
  font-size: 25px;
}
.logo > a {
  text-decoration: none;
  color: black;
}
.innerNav > .bigScreen-nav > ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}
.innerNav > .bigScreen-nav > ul > a,
.innerNav > .bigScreen-nav > ul > a > li {
  text-decoration: none;
  list-style: none;
}
.smallScreen-nav > #mobile-nav {
  font-size: 25px;
  padding: 20px;
  top: 0;
  right: 0;
  background: var(--whiteBg);
  position: absolute;
  width: calc(100vw - 10px);
  height: calc(100vh - 10px);
  display: none;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  text-decoration: none;
  gap: 20px;
  list-style: none;
}
#mobile-nav > a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

@media screen and (min-width: 640px) {
  .innerNav {
    width: 100%;
    max-width: 1320px;
  }
  .smallScreen-nav {
    display: none;
  }
  .bigScreen-nav {
    display: block;
    padding: 10px;
  }
  .search > input {
    display: inline;
  }
  .logo {
    font-size: 40px;
    font-weight: bold;
  }
}
